.company-card {
    max-width: 70%;
    margin: 20px auto;
  }
  .company-img{
      width:60px;
      height: 60px;
  }
  .company-list > div:not(:last-child) {
    border-bottom: 1px solid #ccc; /* or any color you prefer */
    padding-bottom: 0.6rem;
  }
  @media (min-width: 1000px) {
    .company-card {
      max-width: 60%;
      margin: 20px auto;
    }
}
  @media (max-width: 840px) {
    .company-card {
      max-width: 90%;
      margin: 20px auto;
    }
}