  .profile-image-container {
    left: 5px;
    bottom: -55px;
  }
  
  .profile-image {
    aspect-ratio: 1/1;
    width: 10rem;
  }
  

  @media (max-width: 840px) {
  
    .profile-image-container {
      left: 5px;
      bottom: -70px;
    }
  
    .profile-image {
      width: 8rem;
    }
  
    .card-body .btn {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }